.row
    .col-md-6.col-md-offset-3.col-sm-12.page-title
        .h3.related-to-title.text-right [Error {{code}}]
        .h1.alert.alert-danger
            i.fa.fa-exclamation-triangle.margin-right-small
            | {{error.title}}
        .h3 {{error.description}}
