.row
    .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
        .h2 Redirecting to Sign In page
.description
    .h2 Creating awesome presentations
    p.font-italic Animations and real time data visualization are just the beginning
