.modal-error
    .modal-header
        h3.help-block.alert.alert-danger {{header}}
    .modal-body.text-danger {{msg}}
    .modal-footer
        button.btn.btn-primary(type='button', data-ng-click='close()') {{"DIALOGS_OK" | translate}}
