.modal-notify
    .modal-header
        h3.help-block.alert.alert-info {{header}}
    .modal-body.text-info {{msg}}
    .modal-footer
        button.btn.btn-primary(type='button', data-ng-click='close()') {{"DIALOGS_OK" | translate}}
